:root {
  --azure: #0290ff;
}

.bookstoreCMS {
  width: 240px;
  height: 37px;
  margin: 6px 47px 2px 0;
  font-family: Montserrat, serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.bookProgress {
  display: flex;
}

.books {
  width: 75px;
  height: 22px;
  margin: 18px 41px 11px 0;
  font-family: Montserrat, serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.panelBg {
  height: 95px;
  margin: 0;
  padding: 0 99px 0 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLeft {
  display: flex;
}

.mask {
  width: 17px;
  height: 17px;
}

.roundProfile {
  width: 45px;
  height: 45px;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
